// Place all the styles related to the display controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.Base{
	background-color: rgb( 213, 213, 255 );
}

.Intrigue{
	background-color: rgb( 255, 213, 213 );
}

.SeaSide{
	background-color: rgb( 213, 241, 255 );
}

.Alchemy{
	background-color: rgb( 234, 213, 255 );
}

.Prosperity{
	background-color: rgb( 255, 234, 123 );
}

.Cornucopia{
	background-color: rgb( 234, 189, 104 );
}

.Darkages{
	background-color: rgb( 199, 163, 141 );
}

.Guild{
	background-color: rgb( 252, 216, 248 );
}

.StrangeLand{
	background-color: rgb( 200, 223, 159 );
}

.Promotion{
	background-color: rgb( 233, 233, 233 );
}